/Aula6_Hello_Words_Tests/target/
/Aula06_Calculadora/nbproject/
/Aula06_Calculadora/target/
/Aula6_Calculador_2/nbproject/
/Aula6_Calculador_2/target/
/Aula06_Manipulacao_Strings/nbproject/
/Aula06_Manipulacao_Strings/target/
/Aula06_Lista_tarefas/nbproject/
/Aula06_Lista_tarefas/target/
/Aula07_CODE_KATAS_1/nbproject/
/Aula07_CODE_KATAS_1/target/
/Aula07_CODE_KATAS_3/nbproject/
/Aula07_CODE_KATAS_3/target/
/Aula07_CODE_KATAS_2/nbproject/
/BingoCardTest/nbproject/
/BingoCardTest/target/
/Aula07_CODE_KATAS_5/nbproject/
/Aula07_CODE_KATAS_5/target/
/Aula07_CODE_KATAS_6/nbproject/
/Aula07_CODE_KATAS_6/target/
